.content {
    padding: 1em;
    background-color: #ffffff;
    border-radius: 5px;
  }
  .content_top{
      margin-bottom: 0.5em;
  
  }
  .content_bottom button{
          margin-top: 10px;
      }
  .content_top span{
      margin-right: 10px;
  }
  
  