.imgs {
    // float           : left;
    // width           : 180px;
    // height          : 50px;
    // background-image: url(../../../images/setting/p1.png);
    // margin-left     : 20%;
}

.imgsp {
    // float           : left;
    // text-align      : center;
    // background-image: '{require(../../../images/setting/p0.png)}'
}

.contain {
    padding         : 1em;
    background-color: #ffffff;
    height          : 200px;
}

.switch_div {
    text-align : center;
    width      : 30%;
    float      : left;
    margin-left: 3%;
    padding-top: 2%;
}