.contain {
  padding: 1em;
  background-color: #ffffff;
  height: 200px;
}

.switch_div {
  text-align: center;
  width: 18%;
  float: left;
  margin-left: 2%;
  margin-top: 3%;
}

.switch_img {
  text-align: center;
  width: 18%;
  float: left;
  margin-left: 2%;
}

input[disabled],input:disabled,input.disabled{  
  color: blue;  
  -webkit-text-fill-color:blue;  
  -webkit-opacity:1;  
  opacity: 1; 
  background-color:white;
  font-size: 16px;
} 