.content {
    text-align  : center;
    display     : inline-block;
    width       : 230px;
    height      : 90px;
    margin-left : 10px;
    color       : white;
    border-width: 0;
    font-family : 微软雅黑 Bold, 微软雅黑;
    font-weight : 700;
    font-size   : 20;
}

.imgs {
    float      : left;
    padding-top: 30px;
    padding-left: 60px;
}

.name {
    float       : left;
    padding-top : 30px;
    padding-left: 2em;
}